/*** *** BASE RESETS *** ***/
html {
  scroll-behavior: smooth;
  accent-color: var(--zero-color-accent);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  /* overflow */
  position: relative;
  overflow: hidden auto;
  
  /* fix typography rough edges */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* font display */
  font-optical-sizing: auto;
  font-style: normal;
  font-family: var(--zero-font-primary);
  
  /* color base */
  color: var(--zero-color-fg-base);
  background-color: var(--zero-color-bg-base);
  
  /* ensure footer does not cover main content */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

*,
div {
  margin: 0;
  box-sizing: border-box;
}

pre {
  display: block;
  white-space: pre-wrap;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

a,
a:hover,
a:focus {
  color: var(--zero-color-accent);
}