/* Layout highlights */
.layout {
  border: 4px dashed hsl(0, 0%, 50%);
  padding: 1.5rem;
}

.layout--header {
  border: 4px dashed hsl(50, 100%, 50%);
}

.layout--content-top {
  border: 4px dashed hsl(90, 100%, 50%);
}

/* node body and sidebars wrapper */
.layout--content-main {
  border: 4px dashed hsl(0, 100%, 50%);
}

.layout--content {
  border: 4px dashed hsl(170, 100%, 50%);
}

.layout--sidebar-first {
  border: 4px dashed hsl(200, 100%, 50%);
}

.layout--sidebar-second {
  border: 4px dashed hsl(220, 100%, 50%);
}

.layout--content-bottom {
  border: 4px dashed hsl(250, 100%, 50%);
}

.layout--footer {
  border: 4px dashed hsl(280, 100%, 50%);
}