div [class^="layout-"] {
  border: 9px solid var(--zero-color-fg-base);
  background: var(--zero-color-bg-base);
}








.layout {
  border: 4px dashed hsl(0, 100%, 50%);
  
  &.layout--header {
    border: 4px dashed hsl(50, 100%, 50%);
  }
  
  &.layout--content-top {
    border: 4px dashed hsl(90, 100%, 50%);
  }
  
  /* node body and sidebars wrapper */
  .layout--content-main {}
  
  &.layout--content {
    border: 4px dashed hsl(170, 100%, 50%);
  }
  
  &.layout--sidebar-first {
    border: 4px dashed hsl(200, 100%, 50%);
  }
  
  &.layout--sidebar-second {
    border: 4px dashed hsl(220, 100%, 50%);
  }
  
  &.layout--content-bottom {
    border: 4px dashed hsl(250, 100%, 50%);
  }
  
  &.layout--footer {
    border: 4px dashed hsl(280, 100%, 50%);
  }
}



/*** CONTAINER ***/
.container {
  position: relative;
  inline-size: 100%;
  max-inline-size: 1500px;
  min-inline-size: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 2rem;
}

/*** Flex Rows ***/
.row {
  --zero-space-x-inner-row: 1.5rem;
  --col-spacing: 1.5rem;
  
  display: flex;
  flex-direction: row;
  inline-size: 100%;
  gap: var(--col-spacing);
  
  &--wrap {
    flex-wrap: wrap;
  }
  
  &--justify-center {
    justify-content: center;
  }
  
  @media (width <=1200px) {
    &--wrap-md {
      flex-wrap: wrap;
    }
  }
  
  @media (width <=994px) {
    &--wrap-sm {
      flex-wrap: wrap;
    }
  }
  
  @media (width <=776px) {
    &--wrap-xs {
      flex-wrap: wrap;
    }
  }
}

/*** Columns ***/
.col {
  position: relative;
  inline-size: auto;
  max-inline-size: 100%;
  flex-grow: 1;
  margin-block-end: 2rem;
  
  &--m0 {
    margin: 0;
  }
  
  &--auto {
    flex-grow: unset;
    min-inline-size: unset;
  }
  
  &--3 {
    flex: 0 0 25%;
    max-inline-size: calc(25% - var(--col-spacing));
  }
  
  &--4 {
    flex: 0 0 calc(33.3333% - var(--col-spacing));
    max-inline-size: calc(33.3333% - var(--col-spacing));
  }
  
  &--6 {
    flex: 0 0 calc(50% - var(--col-spacing));
    max-inline-size: calc(50% - var(--col-spacing));
  }
  
  &--8 {
    flex: 0 0 calc(66.6667% - var(--col-spacing));
    max-inline-size: calc(66.6667% - var(--col-spacing));
  }
  
  &--9 {
    flex: 0 0 calc(75% - var(--col-spacing));
    max-inline-size: calc(75% - var(--col-spacing));
  }
}

/* medium screen */
@media (width <=994px) {
  .col--4 {
    flex: 0 0 calc(50% - var(--col-spacing));
    max-inline-size: calc(50% - var(--col-spacing));
  }
  
  .col--8 {
    flex: 0 0 100%;
    max-inline-size: 100%;
  }
}

/* small screen */
@media (width <=776px) {
  
  .col--9,
  .col--8,
  .col--6,
  .col--4,
  .col--3 {
    flex: 0 0 100%;
    max-inline-size: 100%;
  }
}