:root {
  /*** Neutral ***/
  --zero-color-black: hsl(0, 0%, 0%);
  --zero-color-gray-005: hsl(0, 0%, 5%);
  --zero-color-gray-010: hsl(0, 0%, 10%);
  --zero-color-gray-012: hsl(0, 0%, 12%);
  --zero-color-gray-015: hsl(0, 0%, 15%);
  --zero-color-gray-017: hsl(0, 0%, 17%);
  --zero-color-gray-020: hsl(0, 0%, 20%);
  --zero-color-gray-030: hsl(0, 0%, 30%);
  --zero-color-gray-040: hsl(0, 0%, 40%);
  --zero-color-gray-050: hsl(0, 0%, 50%);
  --zero-color-gray-060: hsl(0, 0%, 60%);
  --zero-color-gray-070: hsl(0, 0%, 70%);
  --zero-color-gray-075: hsl(0, 0%, 75%);
  --zero-color-gray-080: hsl(0, 0%, 80%);
  --zero-color-gray-085: hsl(0, 0%, 85%);
  --zero-color-gray-090: hsl(0, 0%, 90%);
  --zero-color-gray-095: hsl(0, 0%, 95%);
  --zero-color-white: hsl(0, 0%, 100%);
  
  /*** Teal ***/
  --zero-color-teal-005: hsl(190, 100%, 5%);
  --zero-color-teal-010: hsl(190, 100%, 100%);
  --zero-color-teal-012: hsl(190, 100%, 12%);
  --zero-color-teal-015: hsl(190, 100%, 15%);
  --zero-color-teal-017: hsl(190, 100%, 17%);
  --zero-color-teal-020: hsl(190, 100%, 20%);
  /* 30 = accessible fg on white or black */
  --zero-color-teal-030: hsl(190, 100%, 30%);
  --zero-color-teal-040: hsl(190, 100%, 40%);
  --zero-color-teal-050: hsl(190, 100%, 50%);
  --zero-color-teal-060: hsl(190, 100%, 60%);
  --zero-color-teal-070: hsl(190, 100%, 70%);
  --zero-color-teal-075: hsl(190, 100%, 75%);
  --zero-color-teal-080: hsl(190, 100%, 80%);
  --zero-color-teal-085: hsl(190, 100%, 85%);
  --zero-color-teal-090: hsl(190, 100%, 90%);
  --zero-color-teal-095: hsl(190, 100%, 95%);
}